a {
    text-decoration: none;;
}

#cabecalho {
    max-width: 1080px;
    margin: auto;
    text-align: center;
}

.navbar > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
}

#corpo {
    max-width: 1080px;
    margin: auto;
}

#contador, #rolagens {
    text-align: center;
}

.valor, .resultado {
    font-size: 24px;
    padding: 4px 8px;
    margin-bottom: 16px;
}